@font-face {
    font-family: 'Fontdinerdotcom-Sparkly';
    src: url('./fonts/fontdinerdotcom-sparkly/Fontdinerdotcom-Sparkly.ttf.woff') format('woff'),
        url('./fonts/fontdinerdotcom-sparkly/Fontdinerdotcom-Sparkly.ttf.svg#Fontdinerdotcom-Sparkly') format('svg'),
        url('./fonts/fontdinerdotcom-sparkly/Fontdinerdotcom-Sparkly.ttf.eot'),
        url('./fonts/fontdinerdotcom-sparkly/Fontdinerdotcom-Sparkly.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    background-image:
        linear-gradient(45deg, #ff0000 25%, transparent 25%),
        linear-gradient(-45deg, #ff0000 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ff0000 75%),
        linear-gradient(-45deg, transparent 75%, #ff0000 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

section {
    margin: 1.5em auto;
    padding: 1em;
    background: white;
    max-width: 17em;
    border: 1px solid red;
}

h1 {
    margin: 0 0 0.25em;
    font-size: 4rem;
    text-align: center;
    font-family: "Fontdinerdotcom-Sparkly", "New York", serif;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 0.25em;
    font-family: "Fontdinerdotcom-Sparkly", "New York", serif;
    border-bottom: 1px solid grey;
}

img {
    max-width: 100%;
}

p {
    margin-top: 0;
}

sup {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.5em;
}

.divider {
    color: red;
    max-width: 50%;
    text-align: center;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    margin: 2em auto;
}
